/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background: #f1f5f8; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #6441A5, #2a0845); /* Chrome 10-25, Safari 5.1-6 */
}

body {
    font-family: montserrat, arial, verdana;
    background: transparent;
}

/*form styles*/
#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ee0979;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
    width: 100px;
    background: #ee0979;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
}

#msform .action-button-previous {
    width: 100px;
    background: #C5C5F1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    width: 33.33%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #333;
    background: #ee0979;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: black;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #ee0979;
    color: white;
}


/* Not relevant to this form */
.dme_link {
    margin-top: 30px;
    text-align: center;
}
.dme_link a {
    background: #FFF;
    font-weight: bold;
    color: #ee0979;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px 25px;
    font-size: 12px;
}

.dme_link a:hover, .dme_link a:focus {
    background: #C5C5F1;
    text-decoration: none;
}

.hidden {
    display: none;
  }
  
  .header {
    width: 100%; 
  }
  .header .navbar {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-basis: auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 4rem;
    margin: 0 auto;
  }
  .header .navbar .brand {
    font-family: inherit;
    font-size: 2.75rem;
    font-weight: 700;
    line-height: inherit;
    text-transform: uppercase;
    color: #252a32;
  }
  .header .navbar .menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
  }
  .header .navbar .menu-item:not(:first-child) {
    margin-left: 2rem;
  }
  .header .navbar .menu-item a {
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: inherit;
    color: #252a32;
    text-transform: uppercase;
  }
  
  @media only screen and (max-width: 768px) {
    .header .navbar {
      padding: 1rem 2rem;
      margin: 0 auto;
    }
    .header .navbar .wrapper {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: 0;
      background: #f1f5f8;
      transition: all 0.3s ease;
    }
    .header .navbar .wrapper .menu {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 25%;
      width: 100%;
      transform: translateY(-50%);
    }
    .header .navbar .wrapper .menu-item {
      padding-bottom: 1rem;
      width: 100%;
      text-align: left;
    }
    .header .navbar .wrapper .menu-item:nth-child(1) a {
      transition-delay: 0.2s;
    }
    .header .navbar .wrapper .menu-item:nth-child(2) a {
      transition-delay: 0.3s;
    }
    .header .navbar .wrapper .menu-item:nth-child(3) a {
      transition-delay: 0.4s;
    }
    .header .navbar .wrapper .menu-item:nth-child(4) a {
      transition-delay: 0.5s;
    }
    .header .navbar .wrapper .menu-item:not(:first-child) {
      margin-left: 0;
    }
    .header .navbar .wrapper .menu-item a {
      padding: 1rem 2rem;
      opacity: 0;
      color: #252a32;
      font-size: 1rem;
      font-weight: 600;
      transform: translateX(-20px);
      transition: all 0.3s ease-in-out;
    }
    .header .navbar .nav-toggle {
      display: block;
      position: fixed;
      right: 3rem;
      top: 1rem;
      width: 2.5rem;
      height: 2.5rem;
      cursor: pointer;
      z-index: 999;
    }
    .header .navbar .nav-toggle span {
      display: block;
      width: 20px;
      height: 2px;
      background: #252a32;
      border-radius: 2px;
      margin-left: 14px;
    }
    .header .navbar .nav-toggle span:nth-child(1) {
      margin-top: 16px;
    }
    .header .navbar .nav-toggle span:nth-child(2) {
      margin-top: 4px;
      opacity: 1;
    }
    .header .navbar .nav-toggle span:nth-child(3) {
      margin-top: 4px;
    }
    .header .navbar #nav:checked + .nav-toggle {
      transform: rotate(45deg);
    }
    .header .navbar #nav:checked + .nav-toggle span {
      background: #252a32;
      transition: transform 0.5s ease;
    }
    .header .navbar #nav:checked + .nav-toggle span:nth-child(1) {
      transform: translateY(6px) rotate(180deg);
    }
    .header .navbar #nav:checked + .nav-toggle span:nth-child(2) {
      opacity: 0;
    }
    .header .navbar #nav:checked + .nav-toggle span:nth-child(3) {
      transform: translateY(-6px) rotate(90deg);
    }
    .header .navbar #nav:checked ~ .wrapper {
      z-index: 99;
      opacity: 1;
    }
    .header .navbar #nav:checked ~ .wrapper .menu-item a {
        font-size: 2rem;
      opacity: 1;
      transform: translateX(0);
    }
  }